- var route      = {};
- route.fromJade = '../../dist/';
- route.base     = 's/';
- route.styles   = route.base + 'css/';
- route.images   = route.base + 'images/';
- route.js       = route.base + 'js/';
