//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header
include ../components/footer/footer

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		block svg
		.l-wrapper
			block header
				+header({
					class: ""
				})
			main
				block content
					h1.display-1 Hello :)
					p Enjoy It To The Fullest
					img(src="", alt="" width="1000" height="1000")
			+footer()
			
		script(src=route.js + "main.js")